<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to DCS App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@dcs/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>
